numpy
tqdm
tensorflow
opencv-python
tensorflow-datasets
imageio
# Install tensorflow_io (uncomment following line) if you are planning to use LSUN dataset which is implemented in WGAN and DCGAN
# tensorflow_io